@import "../styles/vars"

.Main
  color: $white

.image
  &Tile
    position: relative
    border: 1px solid transparent
    border-radius: 5px
    padding: 8px 10px !important
    margin: 8px 8px 0 0
    cursor: pointer
    width: 160px
    &:before,
    &:after
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      opacity: 0
    &:before
      z-index: 1
      font-size: 60px
      text-align: center
    &:after
      content: ''
      background-color: rgba($main, .4)
      border-radius: inherit
    &Info
      padding-left: 8px
      &Title
        font-size: 14px
    &Display
      width: 70px
      height: 70px
      background-size: cover
      background-position: center
      border-radius: 2px
      overflow: hidden
    &Selected
      border-color: $main
      background-color: rgba($main, .1) !important
    &Selecting
      &:hover
        &:before
          opacity: 1
        &:after
          opacity: .8

  &Container
    max-height: 80vh
    overflow: scroll

.preview
  &Image
    width: 100%
    height: 300px
    background-size: cover
    background-position: center

.editor
  &Section
    border-top: 1px solid rgba($white, .5)

.autocomplete
  &Option
    padding: 3px 5px
    background-color: lighten($bg-color, 5%)
    cursor: pointer
    &Active
      background-color: $main
      color: $bg-color
