.imageThumb
  display: inline-block
  pre
    word-break: break-all
    white-space: normal
  &Name
    text-align: center
  &Tile
    width: 200px
    height: 200px
    background-size: cover
    background-position: center
