@import "~tachyons/css/tachyons.min.css"

$grey: #575757
$white: #f7f7f7

body
  position: relative
  min-height: 100vh
  font-family: Helvetica, Helvetica Neue, sans-serif
  overflow-x: hidden
  background-color: $grey
  color: $white

.flex
  &--inline
    display: inline-flex
  &--center
    align-items: center
    justify-content: center
  &__1
    flex: 1

.center
  text-align: center

.react-tabs
  &__tab-list
    padding-left: 0
    list-style: none
    display: flex
  &__tab
    display: inline-block
    border: 1px solid
    flex: 1
    padding: 10px
    cursor: pointer
    text-align: center
    text-transform: uppercase
    &--selected
      color: $grey
      background-color: $white
      border-color: $white

.selectable-selectbox
  z-index: 9000
  position: absolute
  cursor: default
  background: none
  border: 1px dashed grey

  // odd quickfix
  transform: translateX(60px) translateY(85px)
