@import "~@blueprintjs/core/dist/blueprint.css"
@import "~some-sass-mixins/mixins"
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

@import "./styles/vars"

html,
body
  overflow: hidden

body
  position: relative
  min-height: 100vh
  font-family: 'Source Sans Pro', Helvetica, Helvetica Neue, sans-serif
  background-color: $bg-color
  margin: 0
  padding: 0

::selection
  background: transparent
input,
textarea
  &::selection
    background: darken($main, 25%)

pre
  white-space: pre-wrap
  word-wrap: break-word

ol,
ul
  padding-left: 16px

td
  vertical-align: middle !important
  min-width: 120px

summary
  cursor: pointer
  &,
  &:focus
    outline: none

// atomic classes
+margins(10, 5)
+paddings(10, 5)

.flex
  display: flex
  flex-wrap: wrap
  &--inline
    display: inline-flex
  &--center-h
    align-items: center
  &--center
    align-items: center
    justify-content: center
  &--spread
    justify-content: space-between
  &__1
    flex: 1

.to-front
  position: relative
  z-index: 1

.dib
  display: inline-block

.center
  text-align: center !important

.w
  &--50
    width: 50%
  &--100
    width: 100%

.custom-tabs-panel
  .pt-tab
    line-height: normal
    box-shadow: none !important
    &-panel
      margin-top: 0
    &[aria-selected="true"],
    &:not([aria-disabled="true"]):hover
      color: $main

.dialog
  &--wide
    width: 90vw

.react-image-magnify
  &__enlarged
    z-index: $z-preview

.pt-card
  &--dark
    background-color: $bg-color !important

.scroll
  overflow: scroll
